
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thông tin về công ty</h3>
<ul>
	<li>Công ty Cổ Phần Hùng Tâm</li>
	<li>Địa chỉ đăng ký kinh doanh: Hà Nội, Việt Nam</li>
	<li>Giấy chứng nhận Đăng ký Kinh doanh số 12345678 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 01/01/2021</li>
</ul>
<br>
<h3>Văn phòng Shop Watch</h3>
