
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin liên hệ</h2>
<p>Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:</p>
<ul>
	<li><strong>Liên lạc qua điện thoại: </strong>0327733312</li>
	<li>
		<strong>Liên lạc qua email: </strong>Truy cập <a target="_blank" href="https://www.facebook.com/tuananhs.madridista/">Tại đây</a>
	</li>
	<li>
		<strong>Fanpage của Hùng Tâm Shop: </strong><a href="https://www.facebook.com/Ch%C6%A1i-cho-vui-104286351235989" target="_blank"> Ở đây</a>
	</li>
	<li>
		<strong>Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: </strong> <a href="mailto:tuananh99a7v@gmail.com" title="Email đến Book Store">tuananh99a7v@gmail.com</a>
	</li>
	<li><strong>Địa chỉ nhận hàng đổi/trả/bảo hành:</strong> Trung tâm xử lý đơn hàng Hùng Tâm Shop - P.Cổ Nhuế 2, Q.Bắc Từ Liêm TP. Hà Nội (Tham khảo <a href="https://www.facebook.com/tuananhs.madridista/" target="_blank">hướng dẫn đổi, trả, bảo hành</a> hoặc liên hệ 0327733312 để được hướng dẫn trước khi gửi sản phẩm về Shop)</li>
	<li><strong>Văn phòng: </strong> P.Cổ Nhuế 2, Q.Bắc Từ Liêm TP. Hà Nội</li>
</ul>
<br>

<hr />

