@using ShopWatch.Model
@model ShopWatch.WebMvc.ViewModels.Customer.WatchListByPriceViewModel
@{ ViewData["Title"] = $"{Model.CurrentPrice}"; }

<h2>Giá tiền: @Model.CurrentPrice.ToString("0,0,0") VNĐ</h2>
@if (Model.Watches.Count() == 0)
{
	<h3>Không thấy sản phẩm phù hợp</h3>
}
else
{
	<div class="row">
		@foreach (Watch watch in Model.Watches)
		{
			@Html.Partial("_WatchOverview", watch)}
	</div>
}



