@using ShopWatch.Model
@model ShopWatch.WebMvc.ViewModels.Customer.WatchListByPublisherViewModel
@{ ViewData["Title"] = $"{Model.CurrentPublisher}"; }

<h2>@Model.CurrentPublisher</h2>

<div class="row">
	@foreach (Watch watch in Model.Watches)
	{
		@Html.Partial("_WatchOverview", watch)}
</div>


